.rectangleDiv {
  position: absolute;
  top: 302px;
  left: 17px;
  border-radius: var(--br-sm);
  background-color: rgba(254, 246, 237, 0.4);
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.1);
  width: 1344px;
  height: 922px;
}
.div,
.uploadDiv {
  position: absolute;
  top: 1146px;
  left: 360px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
  display: inline-block;
  width: 119px;
  height: 24px;
}
.uploadDiv {
  top: 1007px;
  left: 1455px;
}
.rectangleDiv1 {
  position: absolute;
  top: 353px;
  left: 533px;
  border-radius: var(--br-sm);
  background-color: var(--color-turquoise);
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.1);
  width: 343px;
  height: 311px;
}
.oct230100 {
  position: absolute;
  top: 456px;
  left: 565px;
  display: inline-block;
  width: 303px;
  height: 32px;
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 80px;
}
.fITSpan {
  color: var(--color-gray-200);
}
.aMAFITP {
  margin-block-start: 0;
  margin-block-end: 0;
}
.aMAFITB {
  position: absolute;
  top: 0;
  left: 63px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  width: 472px;
  height: 78px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangleDiv2,
.rectangleDiv3 {
  position: absolute;
  border-radius: var(--br-sm);
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.1);
  width: 343px;
  height: 311px;
}
.rectangleDiv2 {
  top: 353px;
  left: 84px;
  background-color: rgba(210, 233, 70, 0.95);
}
.rectangleDiv3 {
  top: 824px;
  left: 79px;
  background-color: var(--color-turquoise);
}
.image65Icon,
.image66Icon,
.image67Icon {
  position: absolute;
  top: 835px;
  left: 315px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.image66Icon,
.image67Icon {
  top: 368px;
  left: 330px;
}
.image67Icon {
  top: 372px;
  left: 775px;
}
.rectangleDiv4,
.rectangleDiv5,
.rectangleDiv6 {
  position: absolute;
  top: 816px;
  left: 533px;
  border-radius: var(--br-sm);
  background-color: var(--color-red-400);
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.1);
  width: 343px;
  height: 311px;
}
.rectangleDiv5,
.rectangleDiv6 {
  top: 353px;
  left: 982px;
  background-color: var(--color-turquoise);
}
.rectangleDiv6 {
  top: 816px;
  left: 978px;
  background-color: var(--color-red-400);
}
.ellipseIcon,
.image5Icon {
  position: absolute;
  top: 294px;
  left: 1537px;
  width: 190px;
  height: 190px;
}
.image5Icon {
  top: 297px;
  left: 1544px;
  width: 176px;
  height: 176px;
  object-fit: cover;
}
.displayName {
  margin: 0;
}
.helloDisplayName {
  position: absolute;
  top: 178px;
  left: 1455px;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 373px;
  height: 203px;
}
.rectangleDiv7 {
  position: absolute;
  top: 201px;
  left: 1148px;
  border-radius: var(--br-md);
  background-color: var(--color-teal-200);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  width: 199px;
  height: 46px;
}
.b {
  position: absolute;
  top: 210px;
  left: 1183px;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: #f5f5f5;
  width: 147px;
  height: 23px;
}
.icons8Edit301 {
  position: absolute;
  top: 369px;
  left: 362px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.oct230000,
.oct2301001,
.swimDiv {
  position: absolute;
  display: inline-block;
}
.swimDiv {
  top: 381px;
  left: 124px;
  font-size: var(--font-size-xl);
  width: 206px;
  height: 36px;
}
.oct230000,
.oct2301001 {
  top: 424px;
  left: 119px;
  width: 290px;
  height: 32px;
}
.oct2301001 {
  top: 452px;
  width: 303px;
}
.bicycleRideDiv,
.footballDiv,
.hikingDiv,
.runDiv,
.walkDiv {
  position: absolute;
  top: 384px;
  left: 572px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 154px;
  height: 20px;
}
.footballDiv,
.hikingDiv,
.runDiv,
.walkDiv {
  top: 845px;
  left: 116px;
  width: 50px;
}
.footballDiv,
.hikingDiv,
.walkDiv {
  top: 850px;
  left: 1013px;
  width: 154px;
}
.hikingDiv,
.walkDiv {
  top: 847px;
  left: 574px;
}
.walkDiv {
  top: 376px;
  left: 1013px;
  font-size: var(--font-size-lg);
  width: 173px;
  height: 48px;
}
.totalActivityP {
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--color-gray-700);
}
.span {
  color: #445c85;
}
.p {
  margin: 0;
  font-size: var(--font-size-6xl);
}
.totalActivity99 {
  position: absolute;
  top: 778px;
  left: 1418px;
  display: inline-block;
  width: 248px;
  height: 201px;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
}
.span1 {
  color: #13872c;
}
.completed20 {
  position: absolute;
  top: 778px;
  left: 1675px;
  display: inline-block;
  width: 248px;
  height: 104px;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
}
.span2 {
  color: #ff0404;
}
.incomplete8 {
  position: absolute;
  top: 1004px;
  left: 1676px;
  display: inline-block;
  width: 248px;
  height: 104px;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
}
.blankLineP3 {
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--color-black);
}
.span3 {
  color: #0a0a0a;
}
.p3 {
  margin: 0;
  font-size: var(--font-size-6xl);
  color: #fdd76d;
}
.inProgress71 {
  position: absolute;
  top: 999px;
  left: 1418px;
  display: inline-block;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-700);
}
.icons8Delete301,
.image7Icon {
  position: absolute;
  top: 213px;
  left: 48px;
  width: 31px;
  height: 31px;
  object-fit: cover;
}
.icons8Delete301 {
  top: 369px;
  left: 392px;
  width: 30px;
  height: 30px;
}
.icons8Delete305,
.icons8Delete306,
.icons8Edit302,
.icons8Edit305,
.icons8Edit306 {
  position: absolute;
  top: 838px;
  left: 802px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.icons8Delete305,
.icons8Delete306,
.icons8Edit302,
.icons8Edit306 {
  left: 832px;
}
.icons8Delete306,
.icons8Edit302,
.icons8Edit306 {
  left: 1248px;
}
.icons8Delete306,
.icons8Edit302 {
  left: 1278px;
}
.icons8Edit302 {
  top: 369px;
  left: 802px;
}
.icons8Delete302,
.icons8Delete303,
.icons8Delete304,
.icons8Edit303,
.icons8Edit304 {
  position: absolute;
  top: 369px;
  left: 832px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.icons8Delete303,
.icons8Delete304,
.icons8Edit303,
.icons8Edit304 {
  left: 1248px;
}
.icons8Delete303,
.icons8Delete304,
.icons8Edit304 {
  left: 1278px;
}
.icons8Delete304,
.icons8Edit304 {
  top: 838px;
  left: 347px;
}
.icons8Delete304 {
  left: 377px;
}
.image8Div {
  position: absolute;
  top: 48px;
  left: 1711px;
  width: 41px;
  height: 37px;
}
.image13Icon,
.image14Icon,
.image15Icon {
  position: absolute;
  top: 841px;
  left: 179px;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.image14Icon,
.image15Icon {
  top: 369px;
  left: 196px;
  width: 45px;
  height: 45px;
}
.image15Icon {
  top: 845px;
  left: 654px;
  width: 31px;
  height: 31px;
}
.rectangleDiv8 {
  position: absolute;
  top: 204px;
  left: 90px;
  border-radius: var(--br-xl);
  background-color: rgba(255, 255, 255, 0.33);
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 561px;
  height: 48px;
}
.image18Icon {
  position: absolute;
  top: 0;
  left: 1815px;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.image21Icon,
.image23Icon,
.image24Icon {
  position: absolute;
  top: 372px;
  left: 726px;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.image23Icon,
.image24Icon {
  top: 366px;
  left: 1059px;
  width: 34px;
  height: 34px;
}
.image24Icon {
  top: 841px;
  left: 1110px;
  width: 47px;
  height: 47px;
}
.image51Icon,
.image54Icon,
.screenShot20221011At093 {
  position: absolute;
  top: 523px;
  left: 1449px;
  width: 366px;
  height: 207px;
  object-fit: cover;
}
.image51Icon,
.image54Icon {
  top: 0;
  left: 0;
  width: 65.07px;
  height: 64px;
}
.image54Icon {
  top: 369px;
  left: 1220px;
  width: 30px;
  height: 30px;
}
.descriptionDiv {
  top: 500px;
  left: 130px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-gray-1000);
  width: 154px;
  height: 20px;
}
.description,
.descriptionDiv,
.oct2300003,
.oct2300004 {
  position: absolute;
  display: inline-block;
}
.description {
  top: 540px;
  left: 161px;
  color: var(--color-black);
  width: 193px;
  height: 55px;
}
.oct2300003,
.oct2300004 {
  top: 425px;
  left: 564px;
  width: 290px;
  height: 32px;
}
.oct2300004 {
  top: 424px;
  left: 1006px;
}
.oct2300005,
.oct2300006,
.oct2300007,
.oct2301004,
.oct2301005,
.oct2301006 {
  position: absolute;
  top: 897px;
  left: 110px;
  display: inline-block;
  width: 262px;
  height: 29px;
}
.oct2300006,
.oct2300007,
.oct2301004,
.oct2301005,
.oct2301006 {
  top: 891px;
  left: 569px;
}
.oct2300007,
.oct2301004,
.oct2301005,
.oct2301006 {
  top: 896px;
  left: 1013px;
}
.oct2301004,
.oct2301005,
.oct2301006 {
  top: 931px;
  left: 108px;
  width: 303px;
  height: 32px;
}
.oct2301005,
.oct2301006 {
  top: 921px;
  left: 570px;
}
.oct2301006 {
  top: 925px;
  left: 1015px;
}
.rectangleDiv10,
.rectangleDiv11,
.rectangleDiv9 {
  position: absolute;
  top: 490px;
  left: 98px;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-200);
  box-shadow: 4px 2px 11px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 313px;
  height: 130px;
}
.rectangleDiv10,
.rectangleDiv11 {
  top: 487px;
  left: 545px;
}
.rectangleDiv11 {
  top: 960px;
  left: 93px;
}
.descriptionDiv2,
.descriptionDiv3,
.descriptionDiv4 {
  position: absolute;
  top: 500px;
  left: 124px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-gray-1000);
  display: inline-block;
  width: 154px;
  height: 20px;
}
.descriptionDiv3,
.descriptionDiv4 {
  top: 503px;
  left: 572px;
}
.descriptionDiv4 {
  top: 970px;
  left: 115px;
}
.descriptionDiv5,
.descriptionDiv6,
.descriptionDiv7,
.div1,
.div2,
.div3,
.div4,
.div5,
.div6 {
  position: absolute;
  top: 534px;
  left: 131px;
  display: inline-block;
  width: 193px;
  height: 55px;
}
.descriptionDiv6,
.descriptionDiv7,
.div1,
.div2,
.div3,
.div4,
.div5,
.div6 {
  left: 588px;
}
.descriptionDiv7,
.div1,
.div2,
.div3,
.div4,
.div5,
.div6 {
  top: 1000px;
  left: 119px;
}
.div1,
.div2,
.div3,
.div4,
.div5,
.div6 {
  top: 1098px;
  left: 308px;
  font-size: var(--font-size-xl);
  color: var(--color-indigo);
  width: 197px;
  height: 32px;
}
.div2,
.div3,
.div4,
.div5,
.div6 {
  top: 1091px;
  left: 753px;
}
.div3,
.div4,
.div5,
.div6 {
  top: 1090px;
  left: 1206px;
}
.div4,
.div5,
.div6 {
  top: 621px;
  left: 1199px;
}
.div5,
.div6 {
  top: 625px;
  left: 744px;
}
.div6 {
  top: 621px;
  left: 319px;
}
.image58Icon {
  position: absolute;
  top: 1099px;
  left: 269px;
  width: 23px;
  height: 23px;
  object-fit: cover;
}
.image59Icon,
.image60Icon,
.image62Icon,
.image63Icon,
.image64Icon {
  position: absolute;
  top: 1094px;
  left: 714px;
  width: 23px;
  height: 23px;
  object-fit: cover;
}
.image60Icon,
.image62Icon,
.image63Icon,
.image64Icon {
  left: 1167px;
}
.image62Icon,
.image63Icon,
.image64Icon {
  top: 625px;
  left: 1160px;
}
.image63Icon,
.image64Icon {
  top: 629px;
  left: 705px;
}
.image64Icon {
  top: 625px;
  left: 280px;
}
.rectangleDiv12 {
  position: absolute;
  top: 483px;
  left: 995px;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-200);
  box-shadow: 4px 2px 11px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 313px;
  height: 130px;
}
.descriptionDiv8 {
  position: absolute;
  top: 494px;
  left: 1011px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-gray-1000);
  display: inline-block;
  width: 154px;
  height: 20px;
}
.descriptionDiv9,
.oct2301007 {
  position: absolute;
  top: 452px;
  left: 1006px;
  display: inline-block;
  width: 303px;
  height: 32px;
}
.descriptionDiv9 {
  top: 534px;
  left: 1042px;
  width: 193px;
  height: 55px;
}
.rectangleDiv13,
.rectangleDiv14 {
  position: absolute;
  top: 204px;
  left: 851px;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-1200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 180px;
  height: 48px;
}
.rectangleDiv14 {
  left: 683px;
  width: 149px;
}
.polygonIcon,
.polygonIcon2 {
  position: absolute;
  top: 26.25px;
  left: 1880.14px;
  width: 14.72px;
  height: 12.75px;
}
.polygonIcon2 {
  top: 224.25px;
  left: 987.81px;
  width: 23.38px;
  height: 15.75px;
}
.statusDiv,
.typeDiv {
  position: absolute;
  top: 204px;
  left: 705px;
  font-size: var(--font-size-4xl);
  color: var(--color-black);
  display: inline-block;
  width: 112px;
  height: 56px;
}
.statusDiv {
  left: 858px;
  width: 125px;
}
.displayNameDiv,
.polygonIcon3 {
  position: absolute;
  top: 224.25px;
  left: 791.81px;
  width: 23.38px;
  height: 15.75px;
}
.displayNameDiv {
  top: 18px;
  left: 1524px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 373px;
  height: 203px;
}
.profileInformationDiv {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1250px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-800);
  font-family: var(--font-inter);
}
